.terms-of-use {
  width: calc(100%);
  min-height: 130vh;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  flex-flow: wrap;
}

.terms-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: brown;
  text-align: justify;
  text-justify: inter-word;
}

.terms-text h4,
p {
  margin: 1rem;
}

.terms-text p {
  padding: 1rem 0;
}

.heading {
  font-weight: normal;
  text-align: center;
}
