.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: calc(100%);
  min-height: 30vh;
  margin: 0;
  padding-top: 2%;
  box-sizing: border-box;
  overflow: hidden;
  color: #9d6666;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer a {
  color: #9d6666;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}
