.header {
  background-color: white;
  margin: 0;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  justify-content: flex-start;
}

.logo {
  width: 20rem;
  height: 12rem;
  margin: 0 auto;
  cursor: pointer;
}

.sign-in {
  text-decoration: none;
  color: black;
}

.account-menu {
  color: brown;
}

.register {
  text-decoration: none;
  color: black;
}
